
@media screen and (max-width: 1024px){
    #intro{
        height: 35vw;
    }
}

/* KINDLE / IPAD */
@media screen and (max-width: 880px) {
    #intro{
        padding: 25px;
        height: 55vw;
    }
    #intro h1{
        font-size: 5.5vw;
    }
    #intro p{
        font-size: 2.5vw;
    }
    nav {
        position: absolute;
        top: 93px;
        left: 0;
        background: #000;
        opacity: 0.95;
        width: 100%;
        display: none;
    }
    .menu-icon {
        display: block;
    }
    nav ul li {
        display: block;
        margin-bottom: 15px;
    }
    nav ul li a {
        color: #fff;
    }
    header .logo {
        margin: 27px 2px;
    }
    #our-story .contenedor {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    #our-story .texto {
        margin-bottom: 50px;
    }
    #our-story .izquierda {
        width: 90%;
    }
    #our-story .derecha img {
        width: 100%;
    }
    #menu .linea1 div, #menu .linea2 div {
        display: block;
        width: 70%;
        margin: auto;
    }
    #menu #texto-2 {
        position: relative;
        top: 18px;
    }

    .hongos {
        width: 70.5% !important;
        left: 0;
        top: 50px !important;
    }

    #menu #ultimo {
        top: 75px ;
        width: 70.5% !important;
    }
    #menu {
        height: 1650px;
    }
    #menu .contenedor {
        height: 1650px;
        background: #fff;
    }
    
    .pez {
        width: 70.5% !important;
        left: 0;
        top: 81px !important;
    }
    #primero {
        margin-top: 20px;
    }

    .contenedor-testimonials {
        flex-direction: column;
    }
    .testimonial {
        width: 100%;
    }
    .testimonial img{
        width: 40vw;
    }
    #contacto .contenedor {
        flex-direction: column;
    }
    #contacto .izquierda, #contacto .derecha {
        width: 80%;
        margin: auto;
    }
    #contacto .izquierda, #contacto .derecha {
        background: #1f1f1f;
        padding: 30px 29px;
    }
    #contacto .izquierda  {
        margin-bottom: 40px ;
    }
    #contacto {
        padding: 79px 0;
    }
    .slideshow-container{
        max-width: 95%;
    }
}
/* Smartphone */
@media screen and (max-width: 600px){
    #menu{
        height: 1800px;
    }
    #menu .contenedor{
        height: 1800px;
    }
}
@media screen and (max-width: 500px){
    #intro p{
        font-size: 3vw;
    }
}
@media screen and (max-width: 390px){
    #menu{
        height: 1900px;
    }
    #menu .contenedor{
        height: 1900px;
    }
}
@media screen and (max-width: 360px){
    #intro{
        height: 70vw;
    }
    #intro .botones a {
        margin-right: 15px;
        padding: 9px 9px;
    }
}