body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
.contenedor {
    width: 95%;
    max-width: 2560px;
    margin:auto;
}

.menu {
    background: #fff;
    padding: 0px 20px;
}

.menu .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 6px;
    margin: 15px 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: #000;
}

.menu-icon {
    display: none;
}

/* INTRO  */

#intro {
    background: url(imagenes/back.jpg);
    text-align: center;
    height: 30vw;
    background-size: cover;
    background-position: 57% 67%;
    padding: 1vw
}

#intro h1 {
    font-family: 'Playfair Display';
    /*font-size: 3.5vmax;*/
    font-size: 3vw;
    margin-top:-0.5vmax;
    color: #fff;
    font-weight: normal;
    padding-top: 3vw;
}

#intro p {
    color: #bfbfbf;
    font-size: 1.5vmax;
    line-height: 4vw;
    width: 60%;
    margin: auto;
}

#intro .menu {
    color: #fff;
    border: 1px solid #fff;
    padding: 9px;
    background: transparent;
}

#intro .reservation {
    color: #fff;
    padding: 9px;
    background: #c39d63;
}

#intro .botones {
    margin-top: 50px;
}

#intro .botones a {
    margin-right: 20px;
    padding: 9px 23px;
}

/* OUR-STORY */

#our-story {
    padding: 90px 0;
}

#our-story .contenedor {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.our-story {
    color: #bfbfbf;
    letter-spacing: 2px;
    font-weight: 700;
}
hr{
    border-color: #c29d63;
}
#our-story .izquierda hr {
    width: 40px;
    float: left;
}
#our-story  hr {
    width: 60%;
}
#our-story h2 , #testimonials h2{
    margin-top: 50px;
    font-size: 48px;
    font-family: 'Playfair Display';
    font-weight: 300;
}

#our-story .texto, .testimonial .texto {
    font-size: 17px;
    color: #939393;
    line-height: 30px;
    width: 88%;
}

#our-story .izquierda{
    width: 45%;
}

/* MENU  */

#menu {
    background-color: #1f1f1f;
    margin-bottom: 1vw;
}

#menu .foto {
    background: url(imagenes/hongos.png);
    width: 300px;
    height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu .linea1 div, #menu .linea2 div {
    display: inline-block;
    width: 33%;
}

#menu .linea1, #menu .linea2 {
    background: #fff;
    text-align: center;
}

#menu li {
    list-style: none;
}

#menu .precio {
    color: #c29d62;
    font-size: 24px;
    margin-bottom: 15px;
}

#menu .titulo {
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 100;
}

#menu .parrafo {
    color: #939393;
    line-height: 30px;
    margin-top: 20px;
    padding: 5px;
}

#menu .hongos {
    background: url(imagenes/pez.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -11px;
    left: -13px;
}

#menu .pez {
    background: url(imagenes/cangrejo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -11px;
    right: -13px;
}

#menu h2 {
    display: none;
}

#menu .contenedor {
    max-width: 1130px;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu .texto {
    position: relative;
    top: -30px;
}

#menu .linea2 {
    height: 275px;
}


/* TESTIMONIALS */

#testimonials {
    text-align: center;
    background-color: #f7f7f7;
    padding: 90px 0;
}

#testimonials .titulo {
    color: #bfbfbf;
    letter-spacing: 2px;
    font-weight: 700;
}

#testimonials hr {
    width: 40px;
    float: none;
    font-weight: 700;
}

.contenedor-testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonial {
    width: 25%;
    text-align: left;
}

.testimonial img {
    width: 55%;
}

#testimonials .contenedor{
    max-width: 1150px;
}

/* CONTACTO  */

#contacto {
    background: url(imagenes/restaurant.jpg);
    color: #fff;
    text-align: center;
    padding: 90px 0;
}

#contacto .contenedor {
    display: flex;
    justify-content: center;
}

#contacto .izquierda, #contacto .derecha {
    background: #1f1f1f;
    padding: 29px 29px;   
}

#contacto .izquierda {
    margin-right: 40px;
}

#contacto ul {
    border-bottom: 2px solid #c29d62;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul#tercero {
    border-bottom: 0px;
}

#contacto ul li {
    list-style: none;
    font-size: 15px;
}

#contacto h2 {
    font-family: 'Playfair Display';
    font-size: 32px;
    font-weight: 100;
}

#contacto ul li:nth-child(1) { /* Afecta al primer elemento de la lista */
    font-weight: bold;
    margin-bottom: 5px;
}

#contacto a {
    color: #fff;
    padding: 9px;
    background: #c39d63;
    letter-spacing: 2px;
    display: 	inline-block;
    margin-top: 20px;
} 

#contacto h3 {
    font-size: 23px;
    font-weight: 100;
    margin: 0;
}

#contacto .derecha p {
    opacity: 0.7;
    width: 70%;
    margin: auto;
}

#contacto .derecha a {
    padding: 9px 12px;
}

#contacto h3.news {
    margin-top: 0px;
}

#contacto form {
    margin-top: 25px;
}

input[type="text"] {
    width: 72%;
    border: 0;
    background: #111111;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

::placeholder {
    color: #cdcdcd;
}
::-ms-input-placeholder {
    color: #cdcdcd;
}

input[type="submit"] {
    display: block;
    width: 78%;
    margin: auto;
    border: 0;
    background-color: #c29d63;
    color: #fff;
    padding: 11px 0;
    font-size: 16px;
}

#contacto .izquierda{
    width: 35%;
}

#contacto .derecha {
    padding: 55px 29px;
    width: 40%;
}

/* FOOTER  */
footer {
    background: #1f1f1f;
    margin-top: -16px;
    height: 80px;
    color: #939393;
    text-align: center;
}

footer p {
    padding-top: 28px;
}

#contacto .mensajes {
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}

/* Galeria */
#galeria {
    max-width: 2200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

#galeria > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0 0, 0.5);
}

#galeria h2{
    display: none;
}
#galeria img {
    width: 100%;
    vertical-align: top;
    height: 350px;
    object-fit: cover;
    transition: transform 0.5s;
}

#galeria a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    width: 75vw;
    max-height: 70vh;
}

.light-box:target {
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #c39d63;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 30px;
}  

.next {
    display: block;
    background: #c29d62;
    opacity: 0.8;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5 ease;
    background: rgba(0, 0, 0, 0.5);
}

#galeria a:hover .overlay {
    opacity: 1;
}

#lugares .contenedor{
    margin-top: 12vh;
    text-align: center;
    justify-content: center;
    margin-bottom: 6.3vh;
}
@media screen and (min-width: 1280px) {
    #galeria img {
        width: 100%;
    }   
    #galeria {
        grid-template-columns: repeat(auto-fit, minmax(550px,1fr));
    }

}

/* contacto */

#formulario-contacto {
    padding: 90px 0;
}

#formulario-contacto {
    padding: 90px 0;
}

#formulario-contacto .contenedor {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.formulario-contacto {
    color: #bfbfbf;
    letter-spacing: 2px;
    font-weight: 700;
}
hr{
    border-color: #c29d63;
}
#formulario-contacto .izquierda hr {
    width: 40px;
    float: left;
}

#formulario-contacto  hr {
    width: 60%;
}
#formulario-contacto h2 , #testimonials h2{
    margin-top: 50px;
    font-size: 48px;
    font-family: 'Playfair Display';
    font-weight: 300;
}

#formulario-contacto .texto, .testimonial .texto {
    font-size: 17px;
    color: #939393;
    line-height: 30px;
    width: 88%;
}

.subtitulos{
    max-width: 350px;
}

#formulario-contacto .izquierda{
    width: 45%;
}
textarea {
    width: 72%;
    border: 0;
    background: #111111;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
    resize: none;
}

.google-maps {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
/* Slideshow container */
.slideshow-container {
    max-width: 145vh;
    margin: auto;
    position: relative;
    margin: auto;
    margin-bottom: 4vh;

}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}