{% extends "onboardwebsite/base.html" %}

{% load static %}
    {% load crispy_forms_tags %}
    {% load static %}
    {% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h1>Revisa tu correo electronico</h1>
                        <hr>
                        <p>Te hemos enviado por correo electrónico las instrucciones para establecer tu contraseña. ¡Deberías recibir el correo electrónico en breve!</p>
                        <hr>
                        <a href="{% url 'onboardwebsite:index' %}" class="btn btn-secondary float-right" style="background-color: #c39d63;color: white;">Ir al Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <style>
        body {
          background-image: url("{% static 'onboardwebsite/imagenes/back.jpg' %}");
        }
        </style>
    
    {% endblock %}