{% extends "onboardwebsite/base.html" %}

{% load static %}
    {% block titulo %}
    <title>Inicio</title>
    {% endblock %}

  {% block css %}
  <link rel="stylesheet" href="{% static 'onboardwebsite/css/inicio.css' %}">
  {% endblock %}

  {% block content %}
    <!-- Panel -->
    <section id="intro" >
        <div class="contenedor">
            <div class="contenedor-titulo">
                <div class="titulo">
                    <h1>{{ header.titulo_text }}</h1>
                    <p>{{ header.subtitulo_text }}</p>
                    <div class="botones">
                        <a href="" class="planes">Ver planes</a>
                        <a href="" class="reservation">Reservas</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <!-- Nosotros -->
    <section id="nosotros">
        <div class="contenedor">
            <div class="izquierda">
                <p class="nosotros">Nosotros</p>
                <hr>
                <h2>Bienvenido a bordo</h2>
                <p class="texto">{{ nosotros.nosotros_text}}</p>
                <p class="texto">¡No te quedes abajo! Ven con nosotros y disfruta de tu mejor destino.</p>
            </div>
            <div class="derecha">
                <img src="{{ nosotros.nosotros_image.url }}" alt="">
            </div>
        </div>
    </section>
  <!-- Lugares -->
  {% load humanize %}
  <section id="menu">
      <div class="contenedor">
        <p class="titulo">Ofertas</p>
      </div>
  </section>
  <!-- Testimonios -->
  <section id="testimonials">
    <div class="contenedor">
        <p class="titulo">Testimonios</p>
        <hr>
        <h2>Qué Opinan Nuestros Clientes</h2>
        <a href="{% url 'onboardwebsite:experiencias' %}">Dejanos tus comentarios!</a>
        <div class="contenedor-testimonials">
            <p>TEST POSTS</p>
            {% for p in posts%}
                <img src="{{ p.post_image.url }}">
            {%endfor%}
        </div>
    </div>
  </section>  


  {% endblock %}
