
{% extends 'onboardwebsite/base.html' %}
{% block titulo %}
    <title>Iniciar sesión</title>
{% endblock %}
{% block content %}
<!--{% load static %}-->
{% load crispy_forms_tags %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus credenciales</h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <a href="{% url 'onboardwebsite:index' %}">inicio</a>
                            <!--<a href="{% url 'onboardwebsite:registro' %}">registro</a>-->
                            <input type="submit" value="ingresar">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{%endblock%}