*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
}

.contenedor {
    width: 95%;
    max-width: 2560px;
    margin:auto;
}
.menu {
    background-color: #fff;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0,0,0,.3);
    position: relative;
    z-index: 99999999;
}
.menu .logo {
    color: #000;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #000;
}

.menu_items li:hover, li.active {
    background-color: rgba(0,0,0,.3);
    transition: .4s;
}
.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    display: none;
}
hr{
    border-color: #c29d63;
}
ul.show {
    top: 65px;
}



/* Footer */

.footer {
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #1f1f1f;
    display: flex;
}

.footer > * {
    flex:  1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 400;
    font-size: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.h-box {
    column-count: 2;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.l-footer p {
    padding-right: 20%;
    color: #999;
}   

@media screen and (max-width: 952px) {
    .menu .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 850px) {
    .menu {
        height: 65px;
    }
    .btn_menu {
        display: inline-flex;
    }
    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #1f1f1f;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover {
        background: none;
    }
    .menu_items li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color: #c39d63;
    }
    .mennu .logo {
        font-size: 25px;
        padding-left: 35px;
    }
}
@media screen and (max-width: 850px) and (orientation: landscape){
    .menu_items li {
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }

}



@media screen and (min-width: 600px) {
    .r-footer > * {
        flex: 1;
    }

    .features {
        flex-grow: 2;
    }

    .l-footer {
        flex: 1 0px;
    }

    .r-footer {
        flex: 2 0px;
    }
    .l-footer .logo {
        margin-left: -0px;
    }
}
