.bg{
    background-image: url('../imagenes/back.jpg');
    width: 100%;
    height: auto;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}
.carousel-item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-img-top{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
